body {
  margin: 0;
  padding: 0;
}




div.cover {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: red;
  position: relative;
}
p.cover {
  background-color: blue;
  margin: 0;
  padding: 0;
  right: 0;
  left: 60%;
  position: absolute;
  height: 100%;
  right: 0;
}





div.intro {
  margin: 0;
  padding: 0;
  height: 80%;
  position: relative;
}

img.intro {
  margin: 10;
  width: 30%;
  height: 100%;
  background-color: pink;
  position: absolute;
}
p.intro {
  margin: 10;
  margin-left: 20;
  padding: 0;
  position: absolute;
  left: 30%;
  background-color: black;

}
