div.cover {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-image: url(Images...);
  position: fixed;
  background-attachment: fixed;
}
p.cover {
  margin: 0;
  padding: 0;
  left: 40%;
  top: 0;
  position: relative;
  height: 100%;
  right: 0;
}


div.intro {
  
}

img.intro {
  margin: 0;
  left: 0;
  width: 30%;
  height: 100%;
}


