html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(7, 81, 119);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px black;
}
/*-------loading game page-----*/
div.loader {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-image: url(images/loader.gif);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}


/*------Cover/Title------*/
div.cover {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  background-image: url(images/wallpaper4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

p.cover1 {
  margin: 0;
  padding: 0;
  right: 0;
  top: 30%;
  text-align: center;
  height: 30%;
  vertical-align: middle;
  position: absolute;
  width: 40%;
  border: 1px solid red; */<-------border of title/quo tes place
  font-size: 30px;
  color: white;
  background-color: black;
}

/* nav Bar */
.header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    height: 42px;
    width: 100%;
    border: 1px dotted blue;
    background-image: url(images/wallpaper2.jpg);
    background-size: cover;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1000;
    opacity: .9;

}

ul.header {
  border: 2px solid black;
}
ul.header li {
  text-align: center;
  color: white;
  padding: 0;
  display: inline-block;
  /* border: 2px solid pink; */
  text-shadow: 5px 3px black;
  margin-top: .75%;
  font-size: 1em;
}
li.start{
  margin: 0;
  padding: 0;
  margin-left: 18%;
  margin-right: 2%;
}
li.end{
  margin: 0;
  padding: 0;
  margin-left: 2%;
  margin-right: 18%;
}
li.mid{
  margin: 0;
  padding: 0;
  margin-left: 3%;
  margin-right: 3%;
}

ul.header li a:hover {
  color: rgb(111, 111, 116);
  text-decoration: none;
  text-shadow: 8px 5px black;
}
ul.header li a {
  color: rgb(204, 218, 203);
  text-decoration: none;
}




/*------intro of Mr.Sewell segment------*/
div.intro {
  margin: 0;
  padding: 0;
  height: 75%;
  width: 100%;
  position: relative;
  background-image: url(images/wallpaper1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

p.intro{
  margin: 5px;
  padding: 0;
  left: 0;
  position: absolute;
  height:98%;
  width:40%;
  background-color: red;
  opacity: .2;
}

p.intro2 {
  margin: 5px;
  padding: 0;
  right:0;
  height: 98%;
  width: 58%;
  background-color: pink;
  position: absolute;
  opacity: .2;
}


/*---------music section-----*/


div.music {
  margin:0;
  padding: 0;
  height: 40%;
  position: relative;
  background-position: center;
  width: 100%;
  background-image: url(images/wallpaper2.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}


p.music1 {
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: black;
  color: white;
  left: 30%;
  top: 0;
  height: 10%;
  width: 40%;
}



/*--------Chapters---------*/



div.chapters {
  margin:0;
  padding:0;
  height: 160%;
  width: 100%;
  background-image: url(images/wallpaper3.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: middle;
  z-index: 6;
  overflow: hidden;
  opacity: .9;
}
ul.chapters {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  border: 2px solid red;
  width: 100%;
  display:inline-block;
}
div.chapters1-3 {
  margin: 0;
  padding:0;
  border: 2px solid black;
  width: 100%;
  height: 50%;
  position: relative;
}


li.chapter1 {
  margin: 0;
  padding:0;
  height: 370px;
  width: 250px;
  position: absolute;
  display: inline-block;
  left: 10%;
  top: 20%;
  background-image: url(images/chapter1.jpg);
  background-size: contain;
}
li.chapter1:hover {
  box-shadow: inset -4.5px -3px 5px black;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  opacity: .9;
  background-color: white;
  height: 360px;
  width: 240px;
}



li.chapter2 {
  margin: 0;
  padding:0;
  height: 370px;
  width: 250px;
  position: absolute;
  display:inline-block;
  top: 20%;
  left: 42%;
  background-image: url(images/chapter2.jpg);
  background-size: contain;
}
li.chapter2:hover {
  box-shadow: inset -4.5px -3px 5px black;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  opacity: .9;
  background-color: white;
  height: 360px;
  width: 240px;
}



li.chapter3 {
  margin: 0;
  padding:0;
  height: 370px;
  width: 250px;
  position: absolute;
  display:inline-block;
  top: 20%;
  right: 10%;
}
li.chapter3:hover {
  box-shadow: inset -4.5px -3px 5px black;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  opacity: .9;
  background-color: white;
  height: 360px;
  width: 240px;
}







div.chapters4-6 {
    margin: 0;
    padding:0;
    border: 2px solid white;
    width: 100%;
    height: 50%;
    position: relative;
}



li.chapter4 {
  margin: 0;
  padding:0;
  height: 370px;
  width: 250px;
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 10%;
}
li.chapter4:hover {
  box-shadow: inset -4.5px -3px 5px black;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  opacity: .9;
  background-color: white;
  height: 360px;
  width: 240px;
}




li.chapter5 {
  margin: 0;
  padding:0;
  height: 370px;
  width: 250px;
  position: absolute;
  display: inline-block;
  left: 40%;
  top: 20%;
}
li.chapter5:hover {
  box-shadow: inset -4.5px -3px 5px black;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  opacity: .9;
  background-color: white;
  height: 360px;
  width: 240px;
}




li.chapter6 {
  margin: 0;
  padding:0;
  height: 370px;
  width: 250px;
  position: absolute;
  display: inline-block;
  right: 10%;
  top: 20%;
}
li.chapter6:hover {
  box-shadow: inset -4.5px -3px 5px black;
  border-color: black;
  border-style: solid;
  border-width: 0px;
  opacity: .9;
  background-color: white;
  height: 360px;
  width: 240px;
}



/*-------about-------*/

div.about {
  margin: 0;
  padding: 0;
  position: relative;
  height: 60%;
  width: 100%;
  background-image: url(images/wallpaper6.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  bottom: 0;
  overflow: hidden;
  top: 0;
}
img.mario {
  position: absolute;
  opacity: .8;
  height: 125px;
  width: 125px;
  left: 25%;
  top: 0;
}
img.joystick {
  position: absolute;
  opacity: .8;
  height: 125px;
  width: 125px;
  left: 5%;
  top: 0;
}
img.mushroom {
  position: absolute;
  opacity: .6;
  height: 125px;
  width: 125px;
  right: 35%;
  top: 50%;
}





div.copyright {
  margin: 0;
  padding: 0;
  height: 20%;
  width: 100%;
  background-color: rgb(7, 81, 119);
}
