html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
}
/*-------loading game page-----*/
div.loader {
  background-color: black;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-image: url(images/loader.gif);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}


/*------Cover/Title------*/
div.cover {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
  background-image: url(images/wallpaper4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  overflow: hidden;
}

p.cover1 {
  margin: 0;
  padding: 0;
  right: 0;
  top: 30%;
  text-align: center;
  height: 30%;
  vertical-align: middle;
  position: absolute;
  width: 40%;
  border: 1px solid red; */<-------border of title/quo tes place
  font-size: 30px;
  color: white;
  background-color: black;
}

/* nav Bar */
.header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    border: 1px dotted blue;
    background-image: url(images/wallpaper2.jpg);
    background-size: cover;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 2;
}

ul.header li {
  margin: 0;
  text-align: center;
  color: #EF7126;
  padding: 0;
  display: inline-block;
  border: 10px solid black;
  text-shadow: 2px 3px black;
}

ul.header a:link {
  color: #EF7126;
  text-decoration: none;
}
ul.header a:visited {
  color: #EF7126;
  text-decoration: none;
}
ul.header a:active {
  color: #473E3F;
  text-decoration: none;
}
ul.header a:active {

}


/*------intro of Mr.Sewell segment------*/
div.intro {
  margin: 0;
  padding: 0;
  height: 75%;
  width: 100%;
  position: relative;
  background-image: url(images/wallpaper1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

p.intro{
  margin: 5px;
  padding: 0;
  left: 0;
  position: absolute;
  height:98%;
  width:40%;
  background-color: red;
  opacity: .2;
}

p.intro2 {
  margin: 5px;
  padding: 0;
  right:0;
  height: 98%;
  width: 58%;
  background-color: pink;
  position: absolute;
  opacity: .2;
}


/*---------music shit-----*/


div.music {
  margin:0;
  padding: 0;
  height: 40%;
  position: relative;
  width: 100%;
  background-image: url(images/wallpaper2.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
}


p.music1 {
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: black;
  color: white;
  left: 30%;
  top: 50%;
  height: 10%;
  width: 40%;
}



/*--------Chapters---------*/



div.chapters {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  background-image: url(images/wallpaper3.jpg);
  background-size: contain;
  position: relative;
  top: 0;
  z-index: 6;
  overflow: hidden;
}

p.chapter1 {
  margin: 0;
  padding:0;
  height: 450px;
  width: 300px;
  border: 2px solid red;
  position: absolute;
  left: 20%;
  top: 20%;
}

p.chapter2 {
  margin: 0;
  padding:0;
  height: 450px;
  width: 300px;
  border: 2px solid red;
  position: absolute;
  left: 10%;
}

p.chapter3 {
  margin: 0;
  padding:0;
  height: 450px;
  width: 300px;
  border: 2px solid red;
  position: absolute;
  top: 30%;
}

p.chapter4 {
  margin: 0;
  padding:0;
  height: 450px;
  width: 300px;
  border: 2px solid red;
  position: absolute;
  right: 0;
}

p.chapter5 {
  margin: 0;
  padding:0;
  height: 450px;
  width: 300px;
  border: 2px solid red;
  position: absolute;
  right: 0;
  top:30%;
}
